<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recoverrelax.pt.riotxmppchat" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens android:largestWidthLimitDp="600"/>

    <application
        android:name="com.recoverrelax.pt.riotxmppchat.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.recoverrelax.pt.riotxmppchat.ui.activity.FriendListActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/friends_online" >
        </activity>
        <activity
            android:name="com.recoverrelax.pt.riotxmppchat.ui.activity.DashBoardActivity"
            android:label="@string/dashboard" >
        </activity>
        <activity
            android:name="com.recoverrelax.pt.riotxmppchat.ui.activity.FriendMessageListActivity"
            android:label="@string/message_list_title" >
        </activity>

        <activity
            android:name="com.recoverrelax.pt.riotxmppchat.ui.activity.PersonalMessageActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/message_list_title" >
        </activity>

        <activity
            android:name="com.recoverrelax.pt.riotxmppchat.ui.activity.CurrentGameActivity"
            android:windowSoftInputMode="adjustPan"
            android:noHistory="true"
            android:label="@string/current_game_activity_title" >
        </activity>

        <activity
            android:name="com.recoverrelax.pt.riotxmppchat.ui.activity.RecentGameActivity"
            android:windowSoftInputMode="adjustPan"
            android:noHistory="true"
            android:label="@string/recent_game_activity_title" >
        </activity>


        <activity
            android:name="com.recoverrelax.pt.riotxmppchat.ui.activity.ShardActivity"
            android:windowSoftInputMode="adjustPan"
            android:noHistory="true"
            android:label="@string/shard_activity_title" >
        </activity>

        <activity android:name="com.recoverrelax.pt.riotxmppchat.ui.activity.SplashScreenActivity"
            android:noHistory="true">

        </activity>
        <activity
            android:name="com.recoverrelax.pt.riotxmppchat.ui.activity.SettingActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_sub" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.recoverrelax.pt.riotxmppchat.ui.activity.FriendListActivity" />
        </activity>
        <activity
            android:name="com.recoverrelax.pt.riotxmppchat.ui.activity.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.recoverrelax.pt.riotxmppchat.Network.RiotXmppService"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="03b822a9367abbf243c012a679a4a286e0e56c7a" />
    </application>

</manifest>
